* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-bg{
    background-color: #313131;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vh;
    height: 70vh;
}

#calculator-body{
    border-radius: 1rem;
    position: relative;

    width: 90%;
    height: 90%;
}

#input-field{
    border-radius: .5rem;
    border-style: none;
    background-color: #535353;
    font-size: 7rem;

    width: 100%;
}

#buttons-body{
    position: absolute;
    bottom: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

    width: 100%;
    height: 70%;
}

.buttons{
    background-color: #535353;
    border-radius: 1rem;
    font-size: 5rem;
}